.account-user-error-container-dark {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #ff9833  1%, #FFF  );
    background-position: center center; /* Centraliza o gradiente */
    animation: pulse 3s infinite;
}

@keyframes pulse {
    0% {
        background-size: 90% 90%;
    }
    50% {
        background-size: 120% 120%;
    }
    100% {
        background-size: 90% 90%;
    }
}
